<template>
  <div class="pt-2 px-3">
    <div v-if="cart.length > 0" class="col-8">
      <div 
        v-for="(item, index) in cart" 
        :key="index" 
        class="cart_item d-flex mb-3"
      >
        <div class="col-3 d-flex justify-content-center pt-3">
          <img :src="item.images.main" width="140" height="140">
        </div>

        <div class="col-9 pr-3 pt-3">
          <div class="mb-2">{{item.title}}</div>

          <div class="text-light-gray d-flex align-items-center mb-1">
            <font-awesome-icon :icon="['fas', 'check-square']" class=""/>
            <span class="font-size-12 mr-2">{{$t('share.warrantyInform')}}</span>
          </div>

          <div class="text-light-gray font-size-12">
            <font-awesome-icon :icon="['fas', 'store']"/>
            <span class="mr-1">{{'share.digikala'}}</span>
          </div>

          <div class="text-light-gray mb-1">
            <font-awesome-icon :icon="['fas', 'clipboard-check']"/>
            <span class="font-size-12 mr-1">{{$t('share.hasStockDigikala')}}</span>
          </div>

          <div class="rrp_price-container">
            <div 
              v-if="item.price.rrp_price > item.price.selling_price"
              class="d-flex align-items-center justify-content-end text-red font-size-12"
            >
              <span>{{$t('share.discount')}}</span>
              <span class="font-size-12 mx-1">{{item.price.rrp_price | currency}}</span>
              <span>{{$t('share.toman')}}</span>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div 
              @click="deleteCartItem(item.id)" 
              class="d-flex align-items-center text-light-gray font-size-12 cursor-pointer"
            >
              <font-awesome-icon :icon="['fas', 'trash']" class=""/>
              <span class="mr-2 pt-1">{{$t('share.delete')}}</span>
            </div>

            <div class="d-flex align-items-center">
              <span>{{item.price.selling_price | currency}}</span>
              <span class="font-size-12 mr-1">{{$t('share.toman')}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-else class="col-8 p-5 d-flex justify-content-center rounded-8 bg-white">
      {{$t('share.emptyCartInform')}}
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      deleteCartItem(id) {
        this.$store.commit('cart/DELETE_CART_ITEM', id)
      }
    },
    computed: {
      cart() {
        if(this.$store.state.cart.myCart.length) return this.$store.state.cart.myCart
        else return []
      }
    }
  }
</script>

<style scoped>
.cart_item {
  border: 1px solid #e6e6e6;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
}

.rrp_price-container {
  height: 22px;
}
</style>