<template>
  <div class="header_container bg-white">
    <div class="d-flex align-items-center w-100 mb-3">
      <div class="col-8 d-flex align-items-center">
        <div class="pt-1">
          <router-link to="/">
            <img 
              src="@/assets/images/logo.svg" 
              width="110" 
              height="30" 
              class="ml-3"
            >
          </router-link>
        </div>

        <div class="col-7 position-relative">
          <input 
            type="text" 
            class="search_input" 
            :placeholder="$t('share.searchInDigikala')"
          >
          <font-awesome-icon 
            :icon="['fas', 'search']" 
            class="search_icon"
          />
        </div>
      </div>

      <div class="col-4 d-flex align-items-center justify-content-end">
        <button class="profile-btn ml-3 text-gray">
          <font-awesome-icon 
            :icon="['fas', 'user']" 
            class="user_icon ml-2"
          />
          <span>{{$t('share.login')}}</span>
        </button>

        <div class="cart_container pl-2 pr-4 py-2 position-relative">
          <div class="cart_line" />
          
          <div class="position-relative">
            <font-awesome-icon 
              :icon="['fas', 'shopping-cart']" 
              :class="{'cursor-pointer': cart.length > 0}" 
              class="cart_icon"
            />
            
            <div 
              class="cart_counter" 
              :class="{'active_cart_counter': cart.length > 0}"
            >{{cart.length}}</div>
            
            <div v-if="cart.length > 0" class="cart_modal">
              <div class="d-flex align-items-center justify-content-between p-3">
                <div class="d-flex align-items-center font-size-12 text-light-gray">
                  <span class="ml-1">{{cart.length}}</span>
                  <span>{{$t('share.product')}}</span>
                </div>

                <router-link to="/cart" class="text-decoration-none">
                  <div class="d-flex align-items-center text-blue">
                    <span class="font-size-12">{{$t('share.viewCart')}}</span>
                    <font-awesome-icon 
                      :icon="['fas', 'angle-left']" 
                      class="mr-1"
                    />
                  </div>
                </router-link>
              </div>

              <div 
                v-for="(item, index) in cart" 
                :key="index" 
                class="modal_cart_item pt-2"
              >
                <div class="d-flex px-2">
                  <div class="col-4">
                    <router-link 
                      :to="'/product/' + item.id" 
                      class="text-decoration-none"
                    >
                      <img 
                        :src="item.images.main" 
                        width="75" 
                        height="75" 
                        class="ml-1"
                      >
                    </router-link>
                  </div>

                  <div 
                    class="col-8 d-flex flex-column justify-content-between pl-2 pb-1"
                  >
                    <router-link 
                      :to="'/product/' + item.id" 
                      class="text-decoration-none"
                    >
                      <div class="font-size-12 text-gray">{{item.title}}</div>
                    </router-link>

                    <div class="d-flex justify-content-end pb-2">
                      <font-awesome-icon 
                        @click="deleteCartItem(item.id)" 
                        :icon="['fas', 'trash']" 
                        class="text-light-gray cursor-pointer"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Header',
    computed: {
      cart() {
        if(this.$store.state.cart.myCart.length) return this.$store.state.cart.myCart
        else return []
      }
    },
    methods: {
      deleteCartItem(id) {
        this.$store.commit('cart/DELETE_CART_ITEM', id)
      }
    },
    created () {
      if (process.client && this.$cookies.get('cart')) {
        this.$store.commit('cart/SET_CART_FROM_COOKIE', JSON.parse(this.$cookies.get('cart')))
      }
    }
  }
</script>

<style scoped>
.header_container {
  min-width: 1000px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 75px;
  z-index: 100;
  padding: 12px 16px 0;
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
}

.search_input {
  width: 100%;
  height: 44px;
  color: #474747;
  font-weight: 300;
  font-size: .857rem;
  line-height: 1.833;
  z-index: 51;
  border-radius: 8px;
  background-color: #f0f0f1;
  border: none;
  padding: 14px 45px 14px 10px;
  outline: none;
}

.search_icon {
  color: #a1a3a8;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.cart_icon {
  font-size: 1.2em;
}

.profile-btn {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e2;
  background: transparent;
}

.user_icon {
  font-size: 1.5em;
}

.cart_line {
  width: 1px;
  height: 24px;
  background: #e0e0e2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cart_counter {
  width: 20px;
  height: 20px;
  background: #ef394e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 900;
  transition: .5s all;
  position: absolute;
  right: -12px;
  top: -12px;
  transform: scale(0);
  font-size: 12px;
}

.active_cart_counter {
  transform: scale(1);
}

.modal_cart_item {
  border-top: 1px solid #e0e0e2;
}

.cart_modal {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  border-radius: 8px;
  background: #fff;
  width: 300px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
  z-index: 110;
  display: none;
}

.cart_container:hover .cart_modal {
  display: block;
}
</style>