<template>
  <div class="pdp-container mt-2 bg-white">
    <div class="d-flex">
      <div class="col-5 px-3 pt-5">
        <div class="d-flex justify-content-center mb-3">
          <img :src="product.images.main" class="product_image">
        </div>
      </div>

      <div class="col-7 pt-3">
        <h1 class="product_title mb-3">{{product.title}}</h1>

        <div class="d-flex">
          <div class="col-5">
            <div class="d-flex align-items-center">
              <font-awesome-icon 
                :icon="['fas', 'star']" 
                class="product_rate_star"
              />
              <span class="mr-1 product_rate_number">
                {{calcRate(product.rating.rate)}}
              </span>
            </div>
          </div>

          <div class="col-7 pl-5">
            <div class="price_detail_container">
              <div class="py-2 d-flex align-items-center justify-content-between">
                <div class="text-gray">{{$t('share.price')}}</div>
                <div 
                  v-if="product.price.rrp_price !== product.price.selling_price" 
                  class="d-flex align-items-center"
                >
                  <div class="rrp_price">
                    {{product.price.rrp_price | currency}}
                  </div>

                  <div class="discount_container">
                    <span>
                      {{calcPecent(product.price.rrp_price, product.price.selling_price)}}
                    </span>
                    <span>%</span>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-end align-items-center mb-4">
                <span class="price">
                  {{product.price.selling_price | currency}}
                </span>
                <span class="mr-2 currency_name">
                  {{$t('share.toman')}}
                </span>
              </div>

              <div class="d-flex justify-content-center">
                <button 
                  @click="addToCart(product)" 
                  class="add_to_cart_btn cursor-pointer"
                >{{$t('share.addToCart')}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getPdpData } from '@/store/modules/pdp/api'

  export default {
    methods: {
      calcRate(rate) {
        let Rate = (rate / 100) * 5
        if(Rate.toFixed(1) == Math.round(Rate)) return Math.round(Rate)
        else return Rate.toFixed(1)
      },
      calcPecent(rrp, sale) {
        let percent = ''
        if(rrp) {
          percent = (rrp - sale) / rrp * 100
          if(percent) return Math.round(percent)
          else return null
        }
        else return null
      },
      addToCart(item) {
        this.$store.commit('cart/ADD_TO_CART', item)
      }
    },
    computed: {
      product() {
        if(this.$store.state.pdp.getPdp) return this.$store.state.pdp.getPdp.product
      }
    },
    async fetch (context) {
      await getPdpData(context.store, context.params.id).then((result) => {
        if (result.status === 200) {
          context.store.commit('pdp/GET_PDP', result.data);
        }
      }).catch(err => console.log(err))
    }
  }
</script>

<style scoped>
.pdp-container {
  height: 90vh;
}
.product_image {
  width: 80%;
  height: 393px;
}

.product_title {
  font-size: 16px;
}

.product_rate_star {
  font-size: 16px;
  color: #fac74b;  
}

.price_detail_container {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 14px;
}

.rrp_price {
  padding-top: 3px;
  font-size: 16px;
  line-height: 1.375;
  color: #acacac;
  text-decoration: line-through;
}

.discount_container {
  background-color: #fb3449;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  padding: 4px 6px 1px;
  font-size: 13px;
  line-height: 1.375;
  margin-right: 8px;
  min-width: 43px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  color: #000;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 20px;
}

.currency_name {
  font-weight: 400;
  font-size: 14px;
}

.add_to_cart_btn {
  width: 75%;
  height: 43px;
  border: none;
  background: #fb3449;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.product_rate_number {
  color: #81858b;
  font-size: 12px;
}
</style>