<template>
  <div>
    <Header />
    <Nuxt />
  </div>
</template>

<script>
export default {
}
</script>

<style>
* {
  font-family: iranyekan !important;
}

html {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  min-width: 1000px !important;
  padding-top: 75px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
