<template>
  <div class="error_page">
    <div>
      <h1 v-if="error.statusCode === 404">صفحه مورد نظر یافت نشد</h1>
      <h1 v-else>مشکی پیش آمده، لطفا دقایقی دیگر مجددا تلاش کنید</h1>
      <NuxtLink to="/">صغحه اصلی</NuxtLink>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['error'],
    layout: 'error' // you can set a custom layout for the error page
  }
</script>

<style scoped>
.error_page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>