<template>
  <div class="px-3 d-flex pb-5">
    <div class="col-3 pt-3">
      <div 
        v-for="(value, key) in filters" 
        :key="key" 
        class="filter_item d-flex align-items-center text-gray rounded-8 bg-white px-3 py-2 mb-3"
      >
        <div v-if="value.type === 'switch'">
          <label class="switch ml-3">
            <input  type="checkbox">
            <span class="slider round"></span>
          </label>

          <span>{{value.title}}</span>
        </div>

        <div v-if="value.type === 'slider'">
          <span>{{value.title}}</span>
        </div>
      </div>
    </div>

    <div class="col-9 pr-3 pt-3">
      <div v-if="products && products.length">
        <div class="sortby_container d-flex">
          <div class="sortby_icon p-2 px-3">
            <font-awesome-icon :icon="['fas', 'sliders-h']" class="text-light-gray"/>
          </div>

          <div class="d-flex align-items-center pr-3">
            <div 
              v-for="(item, index) in sortby" 
              :key="index"
              class="px-2 py-1 rounded-8 font-size-12 ml-2 text-light-gray cursor-pointer"
              :class="{'active_sortby_item': search.sort == item.id}"
              @click="searchBySort(item.id)" 
            >{{item.name}}</div>
          </div>
        </div>

        <ul class="products_container d-flex flex-wrap p-0 m-0">
          <li v-for="(item, index) in products" :key="index" class="product_item">
            <div class="product_card">
              <div 
                v-if="item.price.rrp_price !== item.price.selling_price" 
                class="special_badge"
              >{{$t('share.specialSale')}}</div>

              <router-link :to="'/product/' + item.id">
                <div class="d-flex justify-content-center mb-3">
                  <img :src="item.images.main" width="190" height="190">
                </div>
              </router-link>

              <router-link :to="'/product/' + item.id" class="product_title_link">
                <div class="product_title">
                  {{item.title}}
                </div>
              </router-link>

              <div dir="ltr" class="d-flex justify-content-between mt-2">
                <div class="d-flex align-items-center">
                  <font-awesome-icon :icon="['fas', 'star']" class="product_rate_star"/>
                  <span class="ml-1 product_rate_number">{{calcRate(item.rating.rate)}}</span>
                </div>
              </div>

              <div class="price_container mt-3">
                <div 
                  v-if="item.price.rrp_price !== item.price.selling_price" 
                  class="d-flex align-items-center"
                >
                  <div class="rrp_price">{{item.price.rrp_price | currency}}</div>
                  <div class="discount_container">
                    <span>{{calcPecent(item.price.rrp_price, item.price.selling_price)}}</span>
                    <span>%</span>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                  <span class="price">{{item.price.selling_price | currency}}</span>
                  <span class="mr-2 currency_name">{{$t('share.toman')}}</span>
                </div>
              </div>

              <div 
                class="add_to_cart_container"
              >
                <button 
                  @click="addToCart(item)" 
                  class="add_to_cart_btn cursor-pointer"
                >{{$t('share.addToCart')}}</button>
              </div>
            </div>
          </li>
        </ul>

        <div 
          v-if="products && products.length" 
          class="pagination_container d-flex justify-content-center bg-white py-3"
        >
          <div class="d-flex align-items-center">
            <div 
              v-if="search.page > 1" 
              class="d-flex align-items-center"
            >
              <div 
                class="p-2 cursor-pointer" 
                @click="decreasePage"
              >
                <font-awesome-icon 
                  :icon="['fas', 'angle-right']" 
                  class="text-gray"
                />
              </div>

              <div class="pagination_line mx-4" />
            </div>

            <div 
              v-for="(page, index) in 5" 
              :key="index"
              @click="changePage((search.page + index))"
              :class="{'active_page_item': index + search.page === search.page}"
              class="page_item d-flex justify-content-center align-items-center ml-1 cursor-pointer"
            >{{search.page + index}}</div>

            <div v-if="totalPage > search.page" class="d-flex align-items-center">
              <div class="pagination_line mx-4" />

              <div class="p-2 cursor-pointer" @click="increasePage">
                <font-awesome-icon :icon="['fas', 'angle-left']" class="text-gray"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-else class="p-5 bg-white rounded-8">{{$t('share.plpErrorInform')}}</div>
    </div>

    <div
      v-if="spinnerLoading"
      class="loading_background d-flex justify-content-center align-items-center"
    >
      <div class="spinner_loader"/>
    </div>
  </div>
</template>

<script>
import { getPlpData } from '@/store/modules/plp/api'

export default {
  data() {
    return {
      spinnerLoading: '',
      totalPage: '',
      hasStock: true,
      search: {
        page: 1,
        rows: 24,
        has_selling_stock: 1,
        sort: 4,
        'price[min]': 0,
        'price[max]': 100000,
      },
      sortby: [
        {
          name: this.$t('share.mostRelevant'),
          id: 22
        },
        {
          name: this.$t('share.mostViews'),
          id: 4
        },
        {
          name: this.$t('share.customersRecommendation'),
          id: 27
        }
      ]
    }
  },
  computed: {
    products() {
      if(this.$store.state.plp.getPlp) {
        this.spinnerLoading = false
        if (process.client) window.scrollTo({top: 0, behavior: 'smooth'});
        this.totalPage = this.$store.state.plp.getPlp.pager.total_pages
        this.search.page = this.$store.state.plp.getPlp.pager.current_page
        return this.$store.state.plp.getPlp.products
      }
    },
    filters() {
      if(this.$store.state.plp.getPlp) return this.$store.state.plp.getPlp.filters
    }
  },
  async fetch (context) {
    await getPlpData(context.store, 
      {
        page: context.route.query.page ? context.route.query.page : 1,
        rows: context.route.query.rows ? context.route.query.rows : 24,
        has_selling_stock: context.route.query.has_selling_stock ? context.route.query.has_selling_stock : 1,
        sort: context.route.query.sort ? context.route.query.sort : 4,
        'price[min]': context.route.query['price[min]'] ? context.route.query['price[min]'] : 0,
        'price[max]': context.route.query['price[max]'] ? context.route.query['price[max]'] : 100000,
      }
    ).then((result) => {
      if (result.status === 200) {
        context.store.commit('plp/GET_PLP', result.data);
      }
    })
    .catch(err => console.log(err))
  },
  methods: {
    searchProducts() {
      this.spinnerLoading = true
      this.$store.dispatch('plp/getPlp', this.search)
    },
    calcRate(rate) {
      let Rate = (rate / 100) * 5
      if(Rate.toFixed(1) == Math.round(Rate)) return Math.round(Rate)
      else return Rate.toFixed(1)
    },
    calcPecent(rrp, sale) {
      let percent = ''
      if(rrp) {
        percent = (rrp - sale) / rrp * 100
        if(percent) return Math.round(percent)
        else return null
      }
      else return null
    },
    changePage(number) {
      this.search.page = number
      this.$router.replace({query: this.search}).catch(()=>{});
      this.searchProducts()
    },
    increasePage() {
      if(this.totalPage > this.search.page) {
        this.search.page += 1
        this.$router.replace({query: this.search}).catch(()=>{});
        this.searchProducts()
      }
    },
    decreasePage() {
      if(this.search.page > 1) {
        this.search.page -= 1
        this.$router.replace({query: this.search}).catch(()=>{});
        this.searchProducts()
      }
    },
    addToCart(item) {
      this.$store.commit('cart/ADD_TO_CART', item)
    },
    searchBySort(id) {
      this.search.sort = id
      this.$router.replace({query: this.search}).catch(()=>{});
      this.searchProducts()
    }
  },
  created() {
    if(this.$route.query.page) {
      for (const key in this.$route.query) {
        this.search[key] ? this.search[key] = Number(this.$route.query[key]) : ''
      }
    }
  }
}
</script>

<style scoped>
.filter_item {
  font-size: 12px;
  line-height: 22px;
  box-shadow: 0 12px 12px 0 hsl(0deg 0% 71% / 11%);
  border: 1px solid #dedede;
}

.sortby_container {
  border: 1px solid #e4e4e4;
  background: #fff;
}

.sortby_icon {
  border-left: 1px solid #dedede;
}

.active_sortby_item {
  background-color: #00bfd6;
  color: #fff;
}

.products_container {
  background: #ffffff;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%);
}

.product_item {
  min-height: 424px;
  flex: 1 0 33.33333%;
  max-width: 33.33333%;
  list-style: none;
}

.product_card {
  position: relative;
  height: 100%;
  background: #ffffff;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 30px 12px 46px;
}

.special_badge {
  position: absolute;
  top: 0;
  right: 12px;
  left: 12px;
  border-bottom: 1px solid #fb3449;
  color: #fb3449;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 2px 0;
}

.product_title_link {
  color: #535353;
  font-size: .857rem;
  text-align: right;
  line-height: 22px !important;
  text-decoration: none;
}

.product_title {
  height: 43px !important;
}

.product_rate_star {
  font-size: 16px;
  color: #fac74b;  
}

.product_rate_number {
  color: #81858b;
  font-size: 12px;
}

.price_container {
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rrp_price {
  padding-top: 3px;
  font-size: 16px;
  line-height: 1.375;
  color: #acacac;
  text-decoration: line-through;
}

.discount_container {
  background-color: #fb3449;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  padding: 4px 6px 1px;
  font-size: 13px;
  line-height: 1.375;
  margin-right: 8px;
  min-width: 43px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  color: #000;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 20px;
}

.currency_name {
  font-weight: 400;
  font-size: 14px;
}

.add_to_cart_container {
  position: absolute;
  bottom: 8px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.add_to_cart_btn {
  width: 75%;
  height: 38px;
  border: none;
  background: #fb3449;
  border-radius: 8px;
  outline: none;
  color: #ffffff;
}

.product_card:hover .add_to_cart_container {
  opacity: 1;
}

.pagination_container {
  border: 1px solid #ebebeb;
  border-top: none;
  margin-left: -1px;
  margin-bottom: -1px;
}

.pagination_line {
  width: 2px;
  height: 34px;
  background: #e8e8e8;
}

.page_item {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.active_page_item {
  background-color: #00bfd6;
  border: 1px solid #00bfd6;
  color: #fff;
}

@media screen and (min-width: 1300px) {
  .product_item {
    flex: 1 0 25%;
    max-width: 25%;
  }
}
</style>
